@model EmpMVC.Models.Department

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container shadow p-5">
    <div class="row pb-2">
        <h2>Delete Department</h2>
    </div>

    <form method="post" asp-action="DeleteDept">
        <input asp-for="Id" hidden />
        <div asp-validation-summary="All"></div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="DeptName">Department Name</label>
                <input type="text" class="form-control mb-3" asp-for="DeptName" disabled>
                <span asp-validation-for="DeptName" class=" alert-danger"></span>
            </div>
            
        </div>

       
        <button type="submit" class="btn btn-lg btn-danger p-2"><i class="bi bi-trash-fill"></i>Delete</button>
        <a asp-controller="Department" asp-action="Index" class="btn btn-lg btn-warning p-2">Back To List</a>
    </form>

</div>

